@import "mocha.css";

* {
    font-family: "BlexMono Nerd Font";
    color: @text;
}

#waybar {
    background: transparent;
    border-bottom: 1px solid rgba(203, 166, 247, 0.3);
}

.modules-left {
    margin-left: 1px;
}

.modules-right {
}


tooltip {
    border: 1px solid @mauve;
    background-color: @crust;
}

#workspaces {}


#clock {
    padding: 5px 10px;
    font-weight: bold;
}


/* workspaces to be created  */
#workspaces button.empty {}

#workspaces button.visible {}

#workspaces button.active {
    transition: all 0.2s linear;
}

#workspaces button.active label {
    color: @green;
    font-weight: 900;
}

#workspaces button.urgent {
    color: @red;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#backlight,
#battery,
#bluetooth,
#network,
#cpu,
#tray,
#pulseaudio,
#memory,
#disk,
#idle_inhibitor {
    padding: 0px 12px;
    background-image: linear-gradient(to bottom, transparent 35%, rgba(203, 166, 247, 0.3) 35%, rgba(203, 166, 247, 0.3) 65%, transparent 65%);
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: left center;
}

#idle_inhibitor {
    padding-right: 20px;
}

#network.disconnected {
    color: @red;
}

#bluetooth.disabled {
    color: @peach;
}

#bluetooth.off {
    color: @red;
}

#bluetooth.connected {
    color: @pink;
}

#custom-music {
    margin-left: 0px;
    padding: 0px 12px;
    background-image: linear-gradient(to bottom, transparent 35%, rgba(203, 166, 247, 0.3) 35%, rgba(203, 166, 247, 0.3) 65%, transparent 65%), linear-gradient(to bottom, transparent 35%, rgba(203, 166, 247, 0.3) 35%, rgba(203, 166, 247, 0.3) 65%, transparent 65%);
    background-size: 1px 100%, 1px 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: left center, right center;
}

#custom-music.empty {
    padding-right: 12.5px;
}

#custom-music.unknown {}

#custom-music.normal {
    color: @green;
}

#custom-music.paused {
    color: @yellow;
}

#custom-music.advert {
    color: @red;
}
