@import "mocha.css";

* {
    font-family: "BlexMono Nerd Font";
    color: @text;
}

#waybar {
    background-color: transparent;
}

tooltip {
    border: 1px solid @lavender;
    background-color: @crust;
}


#clock {
    background-color: @mantle;
    padding: 5px 10px;
    border-radius: 12.5px;
    border: 2px solid @lavender;
}

#workspaces {
    background-color: @mantle;
    border: 2px solid @lavender;
    border-radius: 12.5px;
}


/* workspaces to be created  */
#workspaces button.empty {
}


#workspaces button.visible {
}

#workspaces button.active {
    transition: all 0.2s linear;
}

#workspaces button.active label {
    color: @green;
    font-weight: 900;
}

#workspaces button.urgent {
    color: @red;
}

#battery.warning {
    color: @yellow;
}

#battery.warning {
    color: @red;
}

#battery.charging {
    color: @green;
}

#backlight, #battery, #bluetooth, #cpu, #tray, #pulseaudio, #memory, #disk{
    padding: 0px 7.5px;
}

.modules-right {
    background-color: @mantle;
    border: 2px solid @lavender;
    border-radius: 12.5px;
}

#bluetooth.disabled {
    color: @peach;
}

#bluetooth.off {
    color: @red;
}

#bluetooth.connected {
    color: @green;
}
