@import "mocha.css";

* {
    font-family: "BlexMono Nerd Font";
    color: @text;
}

#waybar {
    background-color: @base;
}

.modules-left {
    margin-left: 1px;
}

.modules-right {
    background-color: @mantle;
    border: 2px solid @lavender;
    border-radius: 12.5px;
}


tooltip {
    border: 1px solid @lavender;
    background-color: @crust;
}

#workspaces {
    background-color: @mantle;
    border: 2px solid @lavender;
    border-radius: 12.5px;
}


#clock {
    background-color: @mantle;
    padding: 5px 10px;
    border-radius: 12.5px;
    border: 2px solid @lavender;
    font-weight: bold;
}


/* workspaces to be created  */
#workspaces button.empty {}

#workspaces button.visible {}

#workspaces button.active {
    transition: all 0.2s linear;
}

#workspaces button.active label {
    color: @green;
    font-weight: 900;
    text-decoration: @teal underline;
}

#workspaces button.urgent {
    color: @red;
}

#battery.warning {
    color: @yellow;
}

#battery.critical {
    color: @red;
}

#battery.charging {
    color: @green;
}

#backlight,
#battery,
#bluetooth,
#cpu,
#tray,
#pulseaudio,
#memory,
#disk {
    padding: 0px 7.5px;
}


#bluetooth.disabled {
    color: @peach;
}

#bluetooth.off {
    color: @red;
}

#bluetooth.connected {
    color: @green;
}

#custom-music {
    background-color: @mantle;
    border: 2px solid @lavender;
    border-radius: 12.5px;
    margin-left: 5px;
    padding: 0px 7.5px;
}

#custom-music.empty {
    padding-right: 12.5px;
}

#custom-music.unknown {
}

#custom-music.normal {
    color: @green;
}

#custom-music.paused {
    color: @yellow;
}

#custom-music.advert {
    color: @red;
}
